@import "../../../styles/index.module.scss";

.UiLike__like {
  position: absolute;
  top: 25px;
  right: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  > svg {
    transition: all $duration ease-in-out;
    width: 26px;
    height: 26px;

    &:hover {
      transform: scale(120%);
    }
  }
}
