@import "../../styles/index.module.scss";

.photoContainer__container {
  position: relative;
  max-width: 1700px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  @media screen and (max-width: 1700px) {
    margin: 100px 20px;
  }

  @media screen and (max-width: 768px) {
    margin: 100px 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.loading__img {
  @include loading-img;
}
