@import "../../styles/index.module.scss";

.photoContainer__container {
  position: relative;
  max-width: 1700px;
  margin: 100px auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 50px;

  @media screen and (max-width: 1700px) {
    margin: 100px 20px;
    justify-content: center;
  }
}

.loading__img {
  @include loading-img;
}
